*,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background: #ffffff;
        }


        * {
            font-family: arial;
        }

        input[type='file'] {
            color: transparent;
        }

        /** float container */
        .float-container {
            border: solid 1px #ccc;
            box-sizing: border-box;
            margin: 30px;
            padding: 0 8px;
            position: relative;

        }

        input:not(.ignoreCss,.ignoreCssC),
        textarea {
            border: none;
            font-size: 16px;
            outline: 0;
            padding: 16px 0 10px;
            width: 100%;
            resize: none;
        }

        label {
            font-size: 12px;
            position: absolute;
            top: -6px;
            left: 10px;
            background: white;
        }

        .heading {
            margin-left: 1em;
        }

        .forImage {
            display: inline-flex;
            width: 400px;
        }

        #file {
            margin: 0 30px;
        }

        #fileList {
            border: 1px solid #ccc;
            width: 400px;
            padding: 12px;
        }

        ::-webkit-file-upload-button {
            padding: 8px;
        }

        .btnofregister {
            margin-top: 38px;
            display: flex;
            justify-content: center;
        }

        .registerbtn {
            font-size: large;
            padding: 8px;
            width: 150px;
            cursor: pointer;
        }

        .timeline {
            position: relative;
            width: 100%;
            max-width: 1140px;
            margin: 0 auto;
            padding: 15px 0;
        }

        .timeline::after {
            content: '';
            position: absolute;
            width: 2px;
            background: #006E51;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -1px;
        }

        .container {
            padding: 15px 30px;
            position: relative;
            background: inherit;
            width: 50%;
        }

        .container.left {
            left: 0;
        }

        .container.right {
            left: 50%;
        }

        .container::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            top: calc(50% - 8px);
            right: -8px;
            background: #ffffff;
            border: 2px solid #006E51;
            border-radius: 16px;
            z-index: 1;
        }

        .container.right::after {
            left: -8px;
        }

        .container::before {
            content: '';
            position: absolute;
            width: 50px;
            height: 2px;
            top: calc(50% - 1px);
            right: 8px;
            background: #006E51;
            z-index: 1;
        }

        .container.right::before {
            left: 8px;
        }

        .container .date {
            position: absolute;
            display: inline-block;
            top: calc(50% - 52px);
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            color: #006E51;
            text-transform: uppercase;
            letter-spacing: 1px;
            z-index: 1;
        }

        .container.left .date {
            right: -287px;
        }

        .container.right .date {
            left: -287px;
        }

        .container .icon {
            position: absolute;
            display: inline-block;
            width: 40px;
            height: 40px;
            padding: 9px 0;
            top: calc(50% - 20px);
            /* background: #F6D155; */
            border: 2px solid #006E51;
            border-radius: 40px;
            text-align: center;
            font-size: 18px;
            color: #006E51;
            z-index: 1;
        }

        .container.left .icon {
            right: 57px;
        }

        .container.right .icon {
            left: 56px;
        }

        .container .content {
            padding: 30px 50px 30px 30px;
            /* background: #F6D155; */
            position: relative;
            /* border-radius: 0 500px 500px 0; */
        }

        .container.right .content {
            padding: 30px 30px 30px 50px;
            /* border-radius: 500px 0 0 500px; */
        }

        .container .content h2 {
            margin: 0 0 10px 0;
            font-size: 18px;
            font-weight: normal;
            color: #006E51;
        }

        .container .content p {
            margin: 0;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
        }

        @media (max-width: 767.98px) {
            .timeline::after {
                left: 90px;
            }

            .container {
                width: 100%;
                padding-left: 120px;
                padding-right: 30px;
            }

            .container.right {
                left: 0%;
            }

            .container.left::after,
            .container.right::after {
                left: 82px;
            }

            .container.left::before,
            .container.right::before {
                left: 100px;
                border-color: transparent #006E51 transparent transparent;
            }

            .container.left .date,
            .container.right .date {
                right: auto;
                left: 15px;
            }

            .container.left .icon,
            .container.right .icon {
                right: auto;
                left: 146px;
            }

            .container.left .content,
            .container.right .content {
                padding: 30px 30px 30px 90px;
                border-radius: 500px 0 0 500px;
            }
        }

        input:disabled {
            background-color: white;
        }

        .heading>h2 {
            color: rgb(58, 56, 56);
        }

        .ignoreCss {
            width: 98%;
            border-radius: 35px;
            margin: 10px;
            border-style: solid;
            padding: 3px;
            text-indent: 18px;
        }
        .insideDetails{
            height: 35px;
            width: 300px;
            /* background-color: #000000; */
            margin-left: 42px;
            margin-top: 20px;
        }
        .flex{
            display: flex;
        }
        .checked{
            margin: 35px;
        }
        .timelineLastDate{
            text-align: center; 
            color: rgb(124, 121, 121)
        }
        .toSetIcon{
            position: absolute; 
            padding:14px;
        }
